

$title: 'Book Antiqua', sans-serif

$text: 'Lora', sans-serif


$primary: #FFD676

$secondary: #DABFB5

$body-color: #333

$font-family-base: $text

$font-size-base: 1rem

$font-weight-base: normal

// $box-shadow: none


// ============ headings
$h1-font-size: $font-size-base * 3
$h2-font-size: $font-size-base * 3
$h3-font-size: $font-size-base * 2.25
$h4-font-size: $font-size-base * 1.5
$h5-font-size: 14px
$headings-margin-bottom: 0
$headings-font-family: $title
// $headings-font-weight: normal
$headings-color: $body-color
$paragraph-margin-bottom: 0


// ============ forms
$label-margin-bottom: 0

$btn-padding-y: 18px
$btn-padding-x: 25px
$btn-font-family: $title
$btn-font-size: 14px
$btn-box-shadow: none
$btn-focus-box-shadow: none
$btn-active-box-shadow: none
$btn-line-height: 1
$btn-transition: all 0.2s ease


// ============ Links
$link-color: $body-color

// $link-hover-color: darken($link-color, 15%) !default;

$border-radius: 5px




// ============ dropdown
$dropdown-min-width:  100%
$dropdown-padding-y: 0
$dropdown-font-size: 14px
$dropdown-bg: transparent
$dropdown-border-radius: 0
$dropdown-border-width: 0

$dropdown-link-color: #fff
$dropdown-link-hover-color: $primary
$dropdown-link-hover-bg: transparent
$dropdown-link-active-color: #fff
$dropdown-link-active-bg: transparent

$dropdown-item-padding-y: 10px
$dropdown-item-padding-x: 0



// ============ navbar
$navbar-padding-y: 0
$navbar-padding-x: 0

$navbar-nav-link-padding-x: 0
$nav-link-padding-y: 2rem

$navbar-brand-padding-y: 0

// ============ tabs

$nav-tabs-border-color: #615D5A
$nav-tabs-border-width: 1px
$nav-tabs-border-radius: 0
$nav-tabs-link-hover-border-color: #615D5A
$nav-tabs-link-active-color: #DABFB5
$nav-tabs-link-active-bg: rgba(57, 47, 44, 0.5)
$nav-tabs-link-active-border-color: #615D5A


// ============ bredcrumb

$breadcrumb-padding-y: 25px
$breadcrumb-padding-x: 0
$breadcrumb-item-padding: 0 
$breadcrumb-margin-bottom: 0
$breadcrumb-bg: transparent
$breadcrumb-divider-color: #CECECE 
$breadcrumb-active-color: #DABFB5 
$breadcrumb-border-radius: 0

$breadcrumb-divider-color: transparent
$breadcrumb-divider: ''





// ============ modal
$modal-content-bg: transparent
// $modal-content-border-color:        rgba($black, .2) !default;
$modal-content-border-width: none
$modal-content-border-radius: 0

