body 
    letter-spacing: 0.05rem 
    background: #fff url(../images/body_bg.jpg) no-repeat bottom center
    background-size: contain
    overflow-x: hidden

h1 
    color: #fff

// h1, h2, h3, h4 
//     letter-spacing: 0.05rem 
    
    
    
section 
    position: relative
    margin-bottom: 100px

a
    transition: all 0.2s ease
    font-family: $title

svg 
    transition: all 0.2s ease

ul 
    list-style: none
    padding-left: 0
    
label, button
    cursor: pointer
    transition: all 0.2s ease
    outline: none
    &:focus 
        outline: none
    
    
    
#otstup 
    height: 1500px



.btn_title
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 20px
    border-bottom: 1px solid #CECECE
    position: relative
    margin-bottom: 40px
    &:before 
        content: ''
        position: absolute
        width: 70px
        background-color: $primary 
        height: 1px
        left: 0
        bottom: 0

.map_side_text_btn
    margin-top: 30px






section.mt_section
    margin-top: -400px