

.partners_img
    height: 350px
    background-size: cover 
    background-position: center center
    background-repeat: no-repeat
    a 
        display: block
        height: 100%

.partner_title
    margin-bottom: 30px
    text-align: center
    h4 
        font-family: $text 
        font-weight: bold